
server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Esto permite usar /WAKANDA-HEALTH/...
          lower-case-service-id: true # Esto permite usar /wakanda-health/...

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/